body {
  background-color: lightgray;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.day {
    /* fill:rgb(${color}); */
    stroke-width:1;
    stroke:rgb(88,96,105)
}

.month {
  fill: rgb(36,31,46);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  display: block;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
}

.weekday {
    fill: rgb(106,101,116);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    display: block;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
}